

/* http://bigspotteddog.github.io/ScrollToFixed 

    $('.navbar-fixed-top').css('position', 'absolute');

            $('.menu_top').scrollToFixed({
                marginTop: ($('.head_content').outerHeight(true) - 2),
                preFixed: function () {
                    $(".navbar .menu_top .nav").css({
                        'border-bottom': '1px solid #d4d4d4',
                        'width': 'inherit',
                        'background-color': '#fafafa'
                    });
                },
                postFixed: function () {
                    $(".navbar .menu_top .nav").css({
                        'border-bottom': '0px',
                        'width': 'inherit',
                        'background-color': 'transperent'
                    });
                }
            });
    
    */

input[type=button]:disabled, input[type=submit]:disabled
{
    cursor: no-drop;
}

.ui-autocomplete
{
    padding-left: 10px;
    background-color: #fafafa;
    /*background-image: linear-gradient(to top, #fafafa, #eeeeee);
    background-repeat: repeat-x;*/
    border: 1px solid #d4d4d4;
    border-top-width: 0px;
    position: absolute;
    cursor: default;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    z-index: 1096;
}

    .ui-autocomplete a
    {
        color: #666666;
        text-decoration: none;
    }

        .ui-autocomplete a:hover, .ui-autocomplete a:focus
        {
            color: #DE5E25;
        }

.ui-autocomplete-loading
{
    background: white url(../_images/load_lazy.gif) right center no-repeat;
}

/* workarounds */
* html .ui-autocomplete
{
    width: 1px;
}
/* without this, the menu expands to 100% in IE6 */
input[type=text].primary, textarea.primary, input[type=checkbox].primary, input[type=password].primary, select.primary, select.primary option
{
    background-color: #F8E3E3;
    color: #D54146;
}

    input[type=text].primary:disabled, textarea.primary:disabled, input[type=checkbox].primary:disabled, input[type=password].primary:disabled, select.primary:disabled, select.primary option:disabled
    {
        opacity: 0.60;
        filter: alpha(opacity=60);
    }



.grid-row-warning
{
    background-color: #F8E3E3;
    color: #D54146;
}

table.tool-panel
{
    border: 0px solid #fff;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-collapse: collapse;
    color: #333333;
    font-size: 12px;
    width: 100%;
}

    table.tool-panel th, table.tool-panel td
    {
        padding-top: 5px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }

    table.tool-panel th
    {
        color: #333333;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        background-color: #fff;
        /*background-image: linear-gradient(to bottom, #fafafa, #eeeeee);
        background-repeat: repeat-x;*/
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        font-size: 100%;
        font-weight: bold;
        text-align: left;
    }

div.tool-panel
{
    background-color: transparent;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

/* Begin: GridView */

.btn-ingrid
{
    margin-top: -1px;
    height: 20px;
    line-height: 10px;
}

    .btn-ingrid:disabled
    {
        opacity: 0.20;
        filter: alpha(opacity=20);
    }

.label-ingrid
{
}

.label-no
{
    font-size: 11px;
    font-weight: normal;
}

table.gridview
{
    border: 0px solid #fff;
    border-top: 1px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
    border-collapse: collapse;
    color: #333333;
    font-family: Tahoma;
    font-size: 11px;
    width: 100%;
}

    table.gridview th, table.gridview td
    {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 18px;
    }

    table.gridview th
    {
        color: #666666;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
        border-bottom: 2px solid #169DD8;
        background-color: #fafafa;
        /*background-image: linear-gradient(to bottom, #fafafa, #eeeeee);
        background-repeat: repeat-x;*/
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        font-size: 100%;
        font-weight: bold;
        text-align: left;
        line-height: 20px;
    }

        table.gridview th.ctrl-fix
        {
            text-align: center;
        }

        table.gridview th a
        {
            color: #666;
            text-decoration: none;
        }

            table.gridview th a:hover
            {
                color: #fff;
                text-decoration: none;
            }

    table.gridview td
    {
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
    }

        table.gridview td.locked
        {
            position: relative;
            left: expression((this.parentElement.parentElement.parentElement.parentElement.scrollLeft-2)+'px');
        }

    table.gridview a
    {
        color: #666;
        text-decoration: none;
    }

        table.gridview a:hover
        {
            color: #fff;
            text-decoration: none;
        }

    table.gridview table td
    {
        padding-left: .5em;
        padding-right: .5em;
    }

    table.gridview tr
    {
        background-color: #ffffff;
    }

        table.gridview tr:nth-child(odd)
        {
            background-color: #F1F2F2;
        }

        table.gridview tr:hover
        {
            color: #fff;
            background-color: #5EABDE;
        }

        table.gridview tr.highlight
        {
            /*background-image: url(../_images/grid_bg.png);*/
            background-color: #FAFFBD;
            color: #666666;
        }

            table.gridview tr.highlight:hover
            {
                background-color: #f2f8a4;
                color: #666666;
            }


span a.pager, span.pager, span.pager-current, span.pager-detail
{
    font-weight: bold;
    font-size: 11px;
    margin: 0px;
    color: #ffffff;
}

span.pager-detail
{
    font-size: 11px;
    color: #666666;
}

span.pager, span.pager-current
{
    padding: 5px 10px 5px 10px;
    background-color: #3A87AD;
    border: 1px solid #3A87AD;
    border-left-width: 0px;
    border-right-width: 0px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: #ffffff;
}

span a.pager
{
    padding: 5px 10px 5px 10px;
    color: #666666;
    border: 1px solid #d4d4d4;
    border-right-width: 0px;
    background-color: #fff;
    /*background-image: linear-gradient(to bottom, #fafafa, #eeeeee);
    background-repeat: repeat-x;*/
    text-decoration: none;
}

    span a.pager:last-child
    {
        border-right-width: 1px;
    }

    span a.pager:hover
    {
        color: #fff;
        border: 1px solid #3A87AD;
        border-right-width: 0px;
        background-color: #3A87AD;
        text-decoration: none;
    }

        span a.pager:hover:last-child
        {
            border-right-width: 1px;
        }
